* {
    margin: 0;
    padding: 0;
}

div {
    outline: 2px solid lime;
}

.container {
    width: 920px;
    margin: 0 auto;
    
}

.header {
    background-color: blue;
    height: 200px;
}

.nav {
    background: lime;
    height: 200px;
}

.content {
    background: red;
    overflow: hidden;
    padding: 0 0 50px 50px;
}

.content .item {
    background: yellow;
    float: left;
    margin-right: 50px;
    margin: 50px 50px 0 0;
    height: 200px;
}

.col1 {
    width: calc(100% - 50px);
}
.col2 {
    width: calc(50% - 50px);
}
.col3 {
    width: calc(33.33% - 50px);
}
.col4 {
    width: calc(25% - 50px);
}